<div class="container">
  <header>
    <h1>Ironhack Cinema</h1>
    <p>Click on the movie to check the showtime!</p>
  </header>

  <main>
    <div class="row">
      {{#if movies}}
        {{#each movies as |movie|}}
          <div class="col-sm-4">
            <div class="card">
              <img class="card-img" src="{{movie.image}}" alt="">
              <div class="card-header">{{movie.title}}</div>
              <a class="btn btn-dark" href="/movies/{{movie.id}}">See More</a> 
            </div>
          </div>
        {{/each}}
      {{/if}}
    </div>
  </main>
</div>